doctype html
head
  meta(charset='utf-8')
  title ="MovieInfo"
  link(rel='stylesheet', href='style.css')
  script(src='./script.js', defer)
      
body
    nav.navbar.navbar-default
    .container
    .navbar-header
    a.navbar-brand(href='formulario') 
    h1= message
    a(href='/formulario')
    
    input(type='text', id="texto" )
    input(type='submit',id="Btn" value='buscar')
    h2.text-center Mis pelis favoritas
    .container
      #movies

            